
#menu_container {
  /* border: 1px solid orange; */
  /* margin: 5px; */
  /* padding: 5px; */
}

#menu_title {
  font-size: 36px;
  color: green;
}
#menu_wrapper {
  border: 1px solid green;
  /* margin: 5px; */
  padding: 5px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}

.menu_section {
  margin-bottom: 20px;
  /* border: 1px solid orangered; */
}

.menu_name {
  font-size: 24px;
  color: orange;
  text-align: center;
}

.menu_item {
  font-size: 20px;
  text-align: left;

  display: flex;

  span {
    margin: 0 3px
  }


}

.message {
  margin: 20px;

  span {
    color: orange;
  }
}



