
.smartphoneCard {
  border: 2px solid yellowgreen;
  margin: 10px;
  padding: 10px;
  
  .features {
    max-width: 500px;
    /* border: 2px solid yellowgreen; */
    
    ul {
      /* border: 2px solid yellowgreen; */
      margin: 0;
      padding-left: 1.2rem;
    }
  }

  .buttonSection {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 14px;
      border-radius: 5px;
      padding: 6px 10px;
      margin: 10px 1px 0;
      background-color: orange;
      border: 1px solid #ff8100;
      cursor: pointer;
    
      color: #fff;
    }
  }

}